.App {
  text-align: center;
}

.grid {
  display: grid;
  width: 800px;
  height: 800px;
}

.grid-item {
  border: 1px black solid;
  background-color: lightgrey;
}

.active-item {
  background-color: yellow;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.results {
  margin-top: 20px;
  border: 2px red solid;
  width: 80%;
  font-size: x-large;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container, button {
  margin-left: 5px;
  margin-right: 5px;
}

input, label {
  display: block;
}

input, button {
  height: 30px;
}

input {
  box-sizing: border-box;
  padding: 0px;
}